<h1>Editing poll</h1>
<<<<<<< HEAD
=======
<% if admin_is_logged_in? %>
>>>>>>> 1314a6f8583dd83eb729293ffacfd5ac19b0455f

<%= render 'form' %>

<%= link_to 'Show', @poll %> |
<%= link_to 'Back', polls_path %>
<<<<<<< HEAD
=======

 <% end %>
>>>>>>> 1314a6f8583dd83eb729293ffacfd5ac19b0455f
