<html>

<head>
<meta content "text|html" charset= "UTF-8" http-equiv= 'content-type'/>
</head>
<body>
<h1> welcome <%= @voter.username %> </h1>
<p> thank you for registering,get to post your view.... </p>
</body>
</html>