<html>

<head>
<meta content "text|html" charset= "UTF-8" http-equiv= 'content-type'/>
</head>
<body>
<h1> welcome <%= @voter.username %> </h1>
<<<<<<< HEAD
<p> your suck very much.... </p>
=======
<p> thank you for registering,get to post your view.... </p>
>>>>>>> 1314a6f8583dd83eb729293ffacfd5ac19b0455f
</body>
</html>